html {
    scroll-behavior: smooth;
}

.header {
    background: radial-gradient(14.69% 84.72% at 50% 0%, #754D8B 0%, #022E5D 100%), #002E5D;
}

.nav-link {
    color: white;
    font-size: small;
    padding-top: 0.5rem;
    margin-left: 2rem;
}

#logo {
    width: 40%;
}

#logo-2 {
    width: 10%;
}

#myVideo {
    object-fit: initial;
    width: 98.9vw;
    height: 100%;
    top: 0;
    left: 0;
}

.container-fluid {
    padding: 0;
    margin: 0;
}

.videoBanner .buttonVolum {
    position: absolute;
    color: #fff;
    font-size: 20px;
    top: 15%;
    right: 5%;
    cursor: pointer;
}

.fa-volume-mute:before {
    content: "\f028";
}

.logo_header {
    height: 100%;
    width: 100%;
    background-size: contain;
    background-position: center bottom;
    display: flex;
    align-items: center;
    background-repeat: no-repeat;
    justify-content: center;
}

.pattern_homebanner {
    background-repeat: no-repeat;
    background-size: 100%;
    height: 120px;
    width: 400px;
    background-position: top center;
    top: 72px;
    position: absolute;
    z-index: 0;
    left: 50%;
    transform: translate(-50%, 0);
    opacity: 2;
}

.phone {
    color: white;
}

.left {
    width: 50%;
    display: flex;
    padding-left: 4rem;
}

.menu {
    display: flex;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin: 0.5rem;
    list-style: none;
}

li {
    padding: 0.5rem;
}

a {
    color: white;
}

.center {
    display: flex;
    margin-left: -8rem;
}

.right {
    display: flex;
    margin-left: 7rem;
}

.contact {
    display: flex;
    padding-top: 0.9rem;
    padding-bottom: 0.1rem;
    list-style: none;
}

.footer {
    background: #002E5D;
    position: relative;
    color: white;
}

.footer hr {
    background-color: white;
    width: 20pt;
    margin-left: 0;
}

.descript_logo1 {
    padding-top: 3rem;
    justify-content: space-between;
}

.footer .descript_logo1 img {
    width: 50%;
}

.social {
    display: flex;
    list-style: none;
    margin-top: 12px;
    padding: 0;
}

.social li {
    margin: 0 -5px 0 0;
}

.social li a {
    width: 35px;
    height: 35px;
    background: linear-gradient(93.35deg, #97D9EC -19.77%, #F6F5C8 46%, #DBB5D5 122.25%);
    line-height: 35px;
    border: 1px solid rgba(222, 221, 221, 0.2);
    display: inline-block;
    border-radius: 50%;
    text-align: center;
    font-size: 16px;
}

.social_icon {
    height: 100%;
    background-position: center;
    background-size: 20px;
    background-repeat: no-repeat;
}

.lien_he {
    padding-top: 3rem;
    justify-content: space-between;
}

.introduce {
    position: relative;
    background-image: url(./Images/Logo/bg-1.webp);
    z-index: 9;
    padding-top: 4rem;
    padding-bottom: 12rem;
}

.content {
    margin-right: 5rem;
    margin-top: -1rem;
}

.content h3 {
    color: #CDAE87;
    text-align: center;
    font-weight: bold;
}

.txt_gradient {
    -webkit-text-fill-color: transparent;
    background: -webkit-linear-gradient(93.35deg, #97D9EC -19.77%, #F6F5C8 46%, #DBB5D5 122.25%);
    -webkit-background-clip: text;
}

.content article {
    color: white;
    text-align: center;
}

.introduce .boxIntro {
    top: 15rem;
    position: absolute;
    width: 75%;
}

.slick-slide {
    width: 300px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    height: 200px;
    padding-left: 2.5rem;
    border-left: 1px solid #cccccc59;
    padding: 2.5rem;
}

.introduce .boxIntro span {
    color: white;
    text-transform: uppercase;
    font-size: 15px;
    margin-bottom: -1rem;
}

.introduce .boxIntro .number {
    display: flex;
    align-items: flex-end;
}

.introduce .boxIntro .number .no {
    color: #CDAE87;
    font-size: 50px;
    height: 64px;
}

.introduce .boxIntro .number p {
    color: white;
    line-height: 18px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    height: 64px;
    margin-bottom: 1.7rem;
    margin-left: 0.5rem;
    font-size: 30px;
}

.prodBlock {
    height: 200px;
    background: linear-gradient(180deg, #E2DDDB 48.44%, #C5C2DC 60.94%, #C2BDDC 74.48%, #D1CCDC 89.06%, #E2DDDB 100%);
}

/* SLICK: DOTS */

.slick-dots {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
}

.slick-dots .slick-active button {
    border: 0;
    height: 15px;
    width: 15px;
    background-color: #ffffff;
}

.slick-dots li {
    display: flex;
    align-items: center;
    margin: 0 4px;
    padding: 0;
    height: 20px;
    width: 20px;
}

.slick-dots li button {
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid #fff;
    border-radius: 50%;
    opacity: 0;
    display: block;
    height: 18px;
    width: 18px;
    outline: none;
    line-height: 0px;
    font-size: 0px;
    cursor: pointer;
}

.proUti {
    color: #fff;
    height: 100%;
    background-repeat: no-repeat;
    background-position: bot center;
    background-size: 100% auto;
    position: relative;
}

.imghasmarker {
    position: relative;
}

.proUti .imghasmarker img {
    width: 100%;
}

.listmarkerProd {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.proUti .listmarkerProd .item {
    position: absolute;
}

.proUti .listmarkerProd .item:nth-child(1) {
    top: 7%;
    left: 13.5%;
}

.proUti .listmarkerProd .item:nth-child(2) {
    top: 30%;
    left: 6.7%;
}

.proUti .listmarkerProd .item:nth-child(3) {
    top: 35.5%;
    left: 14%;
}

.proUti .listmarkerProd .item:nth-child(4) {
    top: 59%;
    left: 15%;
}

.proUti .listmarkerProd .item:nth-child(5) {
    top: 55%;
    left: 32.5%;
}

.proUti .listmarkerProd .item:nth-child(6) {
    top: 72%;
    left: 28%;
}

.proUti .listmarkerProd .item:nth-child(7) {
    top: 53%;
    left: 49%;
}

.proUti .listmarkerProd .item:nth-child(8) {
    top: 49%;
    left: 54%;
}

.proUti .listmarkerProd .item:nth-child(9) {
    top: 36%;
    left: 42.5%;
}

.proUti .listmarkerProd .item:nth-child(10) {
    top: 26%;
    left: 41.5%;
}

.proUti .listmarkerProd .item:nth-child(11) {
    top: 12%;
    left: 41%;
}

.proUti .listmarkerProd .item:nth-child(12) {
    top: 12%;
    left: 52%;
}

.proUti .listmarkerProd .item:nth-child(13) {
    top: 31%;
    left: 71.5%;
}

.proUti .listmarkerProd .item:nth-child(14) {
    top: 30%;
    left: 78.5%;
}

.proUti .listmarkerProd .item:nth-child(15) {
    top: 49%;
    left: 82%;
}

.proUti .listmarkerProd .item .number {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid #fff;
    background: linear-gradient( 225deg, #F8C361 0%, #AA7028 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    cursor: pointer;
}

.proUti .listmarkerProd .item p {
    opacity: 1;
    background: var(--color-blue);
    width: max-content;
    padding: 2px;
    border: 1px solid var(--color-yellow);
    color: var(--color-yellow);
    top: 10px;
    left: 50%;
    text-transform: uppercase;
    font-size: 9px;
    letter-spacing: 2px;
    transform: translate(-50%, -55px);
    transition: var(--transition-smooth);
    pointer-events: none;
    margin: 0;
    transition-delay: .15s;
    position: absolute;
    z-index: 9;
}

.proUti .container {
    position: absolute;
    bottom: 0;
    max-width: 100%;
}

.proUti .content {
    width: 100%;
}

.proUti .content .note {
    display: flex;
    align-items: flex-end;
    margin-bottom: 1rem;
}

.proUti .note .button {
    margin-left: 1rem;
}

.proUti .note .button button {
    background: none;
    border: none;
    color: #002E5D;
    font-size: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    border-radius: 50%;
    background: white;
    width: 50px;
    font-weight: 600;
}

.proUti .note button p {
    margin: 0;
    z-index: 1;
    font-weight: bold;
}

.proUti .note button .cycle {
    position: absolute;
    width: 60px;
    height: 60px;
    background: #ffffff7a;
    z-index: 0;
    border-radius: 50%;
    animation: cyclenote 2s infinite;
}

.fade {
    transition: opacity .15s linear;
}

.fade:not(.show) {
    opacity: 0;
}

.modal {
    z-index: 9999999;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1050;
    display: none;
    width: 100%;
    height: 100%;
    overflow: hidden;
    outline: 0;
}

.proUti .note .modal-dialog {
    margin-top: 5%;
    margin-left: 25%;
}

.modal-dialog {
    max-width: 650px !important;
    position: relative;
    width: auto;
    margin: 0.5rem;
    pointer-events: none;
}

.modal.fade .modal-dialog {
    transition: -webkit-transform .3s ease-out;
    -webkit-transform: translate(0, -50px);
}

.modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: white;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: .3rem;
    outline: 0;
}

.modal-header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 1rem 1rem;
    border-bottom: 1px solid #dee2e6;
    border-top-left-radius: calc(.3rem - 1px);
    border-top-right-radius: calc(.3rem - 1px);
}

.proUti .note .modal-header h5 {
    color: #002E5D;
}

.modal-title {
    margin-bottom: 0;
    line-height: 1.5;
}

.proUti .note .modal-dialog button {
    font-size: 30px;
}

.modal-body {
    position: relative;
    flex: 1 1 auto;
    padding: 1rem;
}

.proUti .listBoxProd {
    font-size: 13px;
    background: #ffffffb8;
    color: #c48c3b;
    width: max-content;
    padding: 15px;
    bottom: 0;
    left: 0;
}

ul {
    list-style: none;
    margin: 0;
}

.proUti .content .left {
    padding: 0;
    display: flex;
    align-items: flex-end;
}

.proUti .content .left .item {
    width: 100%;
    max-width: 100%;
    margin-bottom: .3rem;
}

.proUti .left .index {
    display: flex;
}

.proUti .left .item:nth-child(1) .number {
    background: #354F78;
}

.proUti .left .index .number {
    display: flex;
    margin-right: .71rem;
    width: 50px;
    height: 25px;
    border: 1px solid white;
}

.proUti .left .index img {
    width: 23px;
    height: 23px;
    margin-right: .5rem;
}

.proUti .left .index .desc {
    display: flex;
    /* align-items: center; */
    flex-flow: column;
}

.proUti .left .index .desc h4 {
    margin: 0;
    font-size: 12px;
}

.proUti .left .index .desc p {
    font-size: 11px;
    margin: 0;
}

.prodProd {
    background: linear-gradient( 180deg, #FDFDDB 0%, rgba(222, 244, 231, 0.48) 15.62%, rgba(239, 239, 242, 0.26) 36.46%, #FFFFFF 100%);
    height: 100vh;
    margin-top: 2rem;
    padding-top: 4rem;
}

.prodProd .row {
    height: 100%;
}

.prodProd .left {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom left;
    padding-left: 4rem;
}

.prodProd .text h3 {
    color: #A02143;
    font-weight: 550;
}

.btnline {
    display: flex;
    flex-flow: column;
    margin-bottom: 2rem;
}

.btnline .line {
    margin-bottom: .5rem;
}

.btnline .oval {
    transition: all .5s ease-in-out;
    margin-left: -10px;
}

.btnline .oval:hover {
    transform: rotate(90deg);
}

.prodProd .text p {
    color: #002E5D;
    font-weight: bold;
}

.prodProd .right1 {
    position: relative;
    height: 100%;
    margin-top: -2rem;
}

.prodProd .right1 .slick-slides {
    height: 100%;
}

.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    touch-action: pan-y;
    user-select: none;
}

.prodProd .slick-slides {
    padding-left: 0px !important;
    height: 100%;
}

.prodProd .slick-slides img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.utiLibrary {
    background: #f8f8f8;
    position: relative;
}

.utiLibrary .container {
    position: relative;
    height: 100%;
}

.utiLibrary .deco {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 0;
    pointer-events: none;
    left: 0;
}

.utiLibrary .deco img {
    max-width: 50%;
}

.utiLibrary h2 {
    text-align: center;
    padding-top: 3rem;
    color: #002E5D;
    font-weight: 550;
}

.contentLibrr .nav-tabs {
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem 0;
}

.contentLibrr .nav-tabs .nav-item .nav-link.active {
    border: none;
    background: none;
    color: #CDAE87;
}

.contentLibrr .nav-tabs .nav-item .nav-link.active:focus {
    outline: none;
    border: none;
}

.contentLibrr .nav-tabs .nav-item .nav-link {
    color: #949494;
    font-size: 20px;
    text-transform: uppercase;
}

.utiLibrary .tab-content {
    margin-bottom: 5rem;
    position: relative;
    height: 450px;
}

.utiLibrary .tab-content .tab-pane {
    display: block !important;
    transition: all .5s ease-out;
    position: absolute;
    /* opacity: 0; */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 450px;
}

.utiLibrary .tab-content .tab-pane :active {
    opacity: 1;
    pointer-events: auto;
}

.contentLibrr .tab-content .listing {
    color: white;
    display: flex;
}

.contentLibrr .listing a {
    width: 100%;
    height: 100%;
}

.contentLibrr .listing img {
    width: 1024px;
    height: 420px;
    object-fit: cover;
}

.footerForm {
    background-color: #0000008f;
    background-position: top center;
    background-size: cover;
    padding: 3rem 0 7rem 0;
    background-repeat: no-repeat;
}

.wpcf7 .screen-reader-response {
    position: absolute;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    width: 1px;
    margin: 0;
    padding: 0;
    border: 0;
}

.formWrapper {
    padding-top: 40px;
}

#contact_footer .formWrapper .container {
    background: rgba(255, 255, 255, 0.75);
    color: #4D4D4D;
    padding: 3rem 2rem;
    font-weight: bold;
}

.footerForm h2 {
    text-align: center;
    line-height: 45px;
    color: #CDAE87;
    margin-bottom: 2rem;
}

.wpcf7-form-control-wrap {
    position: relative;
}

.formWrapper .col-md-4 .form-control {
    background-color: unset;
    padding: 0;
    border: none;
    border-bottom: 1px solid #616161;
    border-radius: unset;
    color: #616161;
    transition: all .4s ease-out;
}

.formWrapper .checkbox {
    display: flex;
    align-items: flex-start;
    margin-right: 2rem;
    width: 100%;
    max-width: 300px;
}

.formWrapper .checkbox input {
    height: 1.5rem;
    /* width: 1.5rem; */
    margin-right: .5rem;
}

.formWrapper .checkbox label {
    width: 100%;
    text-align: left;
    line-height: 22px;
    margin: 0;
    font-weight: 500;
}

.btn_formWrapper {
    border: none;
    background: #a02243;
    color: white;
    width: 167px;
    padding: 10px 0px;
    transition: 0.3s;
}